@charset 'UTF-8';

// $mq-show-breakpoints: (mobile, tablet, desktop);
@import 'sass-mq/_mq';

@import 'guss-rem/_rem';
@import 'guss-grid-system/_grid-system';
@include grid-system;

@import 'guss-typography/_typography';
@include guss-typography-defaults;

@import 'normalize';

$f-sans-serif-text: 'Open Sans', Helvetica, Arial, sans-serif;
$f-sans-serif-headline: $f-sans-serif-text;

$pink: #ff3d83;
$blue: #351c43;
$green: #9ad1b2;
$greenDark: #63BfA8;
$mushroom: #f9e9b5;
$black: #333;
$white: #fff;

$header-color: $pink;
$text-color: $black;
$link-color: $greenDark;
$link-hover-color: $green;

@mixin clearfix {
    &:after,
    &:before {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

html {
    @include f-textSans;
}

body {
    @include fs-bodyCopy(3);
    font-family: $f-sans-serif-text;
    font-weight: 400;
    color: $text-color;
}

h1 {
    @include fs-headline(9, true);
    font-weight: 300;
}

h2 {
    @include fs-headline(8, true);
    font-weight: 300;
}

h3 {
    @include fs-headline(7, true);
    font-weight: 300;
}

a {
    color: $link-color;
    cursor: pointer;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        color: $link-hover-color;
        text-decoration: underline;
    }
}

.site-header {
    background: $header-color;
    background: linear-gradient(to bottom, $header-color 0%, darken($header-color, 15%) 100%);
    height: gs-height(4);
    padding-top: $gs-baseline*2;
    padding-bottom: $gs-baseline*2;
}

.site-header {
    color: $white;
}

.container {
    @include gs-container;
    padding-left: $gs-gutter;
    padding-right: $gs-gutter;
}

.project {
    @include clearfix;
    margin-bottom: $gs-baseline*2;

    .project__title {
        margin-top: 0;
    }

    .project__image {
        float: left;
        width: gs-span(8);
    }

    .project__info {
        float: left;
        margin-left: $gs-gutter;
        width: gs-span(8);
    }
}
