/* Default element styles */
html {
    @include f-textSans;
}

body {
    @include fs-bodyCopy(2, true);
    color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $headline-text-color;
    font-weight: 300;
    margin: 0;
}

h1 {
    @include fs-headline(9, true);
}

h2 {
    @include fs-headline(7, true);
}

h3 {
    @include fs-headline(5, true);
}

p {
    margin-top: 0;
    margin-bottom: $gs-baseline;
}

a {
    color: $link-color;
    cursor: pointer;
    text-decoration: none;

    &:hover,
    &:focus,
    &:active {
        color: $link-hover-color;
        text-decoration: underline;
    }
}

ol,
ul,
dl {
    list-style-position: inside;
    margin-left: $gs-gutter;
    padding: 0;
}

img {
    max-width: 100%;
}

/* Layout */
.container {
    margin: 0 auto;
    position: relative;
    padding-left: $gs-gutter;
    padding-right: $gs-gutter;

    @include rem((
        max-width: gs-span(8) + $gs-gutter*2
    ));

    @include mq(tablet) {
        @include rem((
            max-width: gs-span(10) + $gs-gutter*2
        ));
    }

    @include mq(desktop) {
        @include rem((
            max-width: gs-span(12) + $gs-gutter*2
        ));
    }
}

.l-row__item {
    margin-bottom: $gs-baseline;

    @include mq(tablet) {
        & + & {
            margin-left: 20px;
        }
    }
}

.unstyled {
    margin: 0;
    list-style: none;
}

.inline-list {
    @extend .unstyled;
}

.inline-list__item {
    display: inline-block;
}

/* Everything else */
.site-header {
    background: $header-color;
    background: linear-gradient(to bottom, $header-color 0%, darken($header-color, 15%) 100%);
    min-height: gs-height(3);
    padding-top: $gs-baseline*4;
    padding-bottom: $gs-baseline*2;

    .site-header__title {
        color: $white;
        margin-bottom: $gs-baseline;
    }

    .site-header__subtitle {
        @extend h3;
        color: $white;
    }

    .site-header__link {
        @include fs-bodyCopy(2, true);
        color: $white;
        display: block;
        margin-top: $gs-baseline;
        margin-bottom: $gs-baseline;

        @include mq(400px) {
            background: transparent url(/images/github-white.png) top left no-repeat;
            background-size: $github-logo-size;
            float: right;
            height: $github-logo-size;
            margin-top: -$github-logo-size;
            overflow: hidden;
            text-indent: -9999px;
            width: $github-logo-size;
        }
    }
}

.site-footer {
    @include fs-bodyCopy(1, true);
    background-color: $footer-color;
    padding-bottom: $gs-baseline*4;
    padding-top: $gs-baseline*2;

    .inline-list__item {
        &:before {
            content: '·';
            margin-left: $gs-gutter/4;
            margin-right: $gs-gutter/4;
        }
    }

    .site-footer__link {
        color: $footer-link-color;
    }
}

.projects {
    margin-top: $gs-baseline*2;
    margin-bottom: $gs-baseline;

    .projects__title {
        border-bottom: 1px solid $border-color;
        margin-bottom: $gs-baseline*2;
        padding-bottom: $gs-baseline - 1;
    }
}

.project {
    border-bottom: 1px solid $border-color;
    padding-bottom: $gs-baseline - 1;

    .project__title {
        margin-bottom: $gs-baseline;
        margin-top: $gs-baseline;
    }
}

.keyword {
    background-color: $keyword-color;
    padding: 2px 4px;
}
