/* Guss override */
$f-sans-serif-text: 'Open Sans', Helvetica, Arial, sans-serif;

/* Colours */
$pink: #ff3d83;
$blue: #351c43;
$green: #9ad1b2;
$greenDark: #63BfA8;
$beige: #f9e9b5;
$black: #333;
$white: #fff;

/* Colour styles */
$header-color: $pink;
$footer-color: $beige;
$border-color: $beige;
$keyword-color: $beige;
$headline-text-color: $blue;
$text-color: $black;
$link-color: $greenDark;
$link-hover-color: $green;
$footer-link-color: $blue;

/* Magic numbers */
$github-logo-size: 60px;
